<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% else %>  
        <div class="alert"><%= alert %></div>
      <% end %>  
      <% if current_user %>
        <div class="welcome_message">
        Hi, <%= current_user.email %>
        </div>
        <ul class="login_menu">
          <li>
            <%= link_to('Profile', user_path(current_user))%>
          </li>
          <li><%= link_to('Log out', destroy_user_session_path, method: :delete) %></li>
          <li><%= link_to('Edit password', edit_user_registration_path) %></li>
        </ul>
      <% else %>
        <ul class="login_menu">
          <li><% link_to('Sign up', new_user_registration_path) %></li>
          <li><% link_to('Sign in', new_user_session_path) %></li>
        </ul>
      <% end %>

    </div>
    <div class="main_container">
      <div class="yield_container">
        <%= yield %>
      </div>
    </div>      
  </body>
</html>
